# Requests to `/api/*` will be proxied to this backend in `npm run dev`
VITE_DEV_PROXY_TARGET=http://127.0.0.1:3000

# Set to `true` to use local mock handlers instead of calling the backend
VITE_USE_MOCK_API=false

